<section class="cart-page">
  <div class="breadcrumb-container">
    <div class="banner-principal">
      <img
        src="../../img/baner-cart.png"
        alt="Imagine"
        class="background-image"
      />
      <div class="principal-text">
        <h1>Cart</h1>
      </div>
      <div class="breadcrumb">
        <a href="#">Acasă</a>
        <span class="separator">></span>
        <span>Cart</span>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="cart-page__shop">
      <div class="left-component">
        <table>
          <tr class="text-baner">
            <th></th>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
            <th></th>
          </tr>
          <tr>
            <td class="product-img">
              <img class="" src="../../img/grau.png" alt="" />
            </td>
            <td class="product">Grâu</td>
            <td class="price">Lei. <span>38</span></td>
            <td><p class="quantity">14</p></td>
            <td class="subtotal">Lei. <span>532</span></td>
            <td class="product-img">
              <button class="rubbish"><img src="../../img/Vector.svg" alt="" /></button>
            </td>
          </tr>
          <tr>
            <td class="product-img">
              <img src="../../img/varza.png" alt="" />
            </td>
            <td class="product">Varză</td>
            <td class="price">Lei. <span>68</span></td>
            <td><p class="quantity">4</p></td>

            <td class="subtotal">Lei. <span>476</span></td>
            <td class="product-img">
              <button class="rubbish"><img src="../../img/Vector.svg" alt="" /></button>
            </td>
          </tr>
        </table>
      </div>
      <dir class="right-component">
        <div class="right-component__clasic">
          <h3>Cart Totals</h3>
          <div class="price">
            <p>Subtotal</p>
            <span>Lei 1008.00</span>
          </div>
          <div class="price">
            <p>Total</p>
            <span class="total-price">Lei 1008.00</span>
          </div>
          <button class="check-out">Check Out</button>
        </div>
      </dir>
    </div>
  </div>
</section>
