<section class="company-page">
  <div class="breadcrumb-bar">
    <div class="container">
      <div class="breadcrumb">
        <a href="#">Acasă</a>
        <span class="separator">></span>
        <a href="#">Categorii</a>
        <span class="separator">></span>
        <a href="#">Produse</a>
        <span class="separator">></span>
        <span>Detalii produs</span>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="company-detale">
      <img src="../../img/company-profile.png" alt="" />
      <div>
        <h3>AgroPlant Buisnes</h3>
        <div class="rating-stars">
          <div class="rating" data-rating="1">&#9733;</div>
          <div class="rating" data-rating="2">&#9733;</div>
          <div class="rating" data-rating="3">&#9733;</div>
          <div class="rating" data-rating="4">&#9733;</div>
          <div class="rating" data-rating="5">&#9733;</div>
          <p>Your rating: <span id="selectedRating"></span></p>
        </div>
      </div>
    </div>
    <hr>
    <div class="description-element">
      <div class="rating-buttons">
        <button class="rating-button" id="descriptionButton">
          Vegetable Description
        </button>
        <button class="rating-button" id="additionalInfoButton">
          Additional Information
        </button>
        <button class="rating-button" id="reviewsButton">
          Reviews <span id="reviewCount">[5]</span>
        </button>
      </div>
      <div class="rating-content">
        <div id="descriptionContent" class="hidden">
          <p>
            Description of the vegetable: Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Nullam auctor massa ac arcu eleifend,
            vel cursus enim efficitur.
          </p>
          <div class="images">
            <img src="https://via.placeholder.com/300" alt="Image 1" />
            <img src="https://via.placeholder.com/300" alt="Image 2" />
          </div>
        </div>
        <div id="additionalInfoContent" class="hidden">
          <h3>Additional Information</h3>
          <div class="info-container">
            <div class="info-section">
              <h4>Origin</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                id justo eu lectus tristique molestie.
              </p>
            </div>
            <div class="info-section">
              <h4>Nutritional Information</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                id justo eu lectus tristique molestie.
              </p>
            </div>
            <div class="info-section">
              <h4>Preparation</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                id justo eu lectus tristique molestie.
              </p>
            </div>
            <div class="info-section">
              <h4>Storage</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                id justo eu lectus tristique molestie.
              </p>
            </div>
            <div class="info-section">
              <h4>Benefits</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                id justo eu lectus tristique molestie.
              </p>
            </div>
            <div class="info-section">
              <h4>Usage</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                id justo eu lectus tristique molestie.
              </p>
            </div>
          </div>
        </div>
        <div id="reviewsContent" class="hidden">
          <div class="review">
            <p><strong>Customer Name</strong> - Date: January 1, 2024</p>
            <p>
              Customer review: Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Nullam auctor massa ac arcu eleifend, vel cursus
              enim efficitur.
            </p>
          </div>
          <div class="review">
            <p><strong>Customer Name 2</strong> - Date: January 2, 2024</p>
            <p>
              Customer review: Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Nullam auctor massa ac arcu eleifend, vel cursus
              enim efficitur.
            </p>
          </div>
          <form class="comment-people">
            <textarea>Scrie un mesaj</textarea>
            <br />
            <input type="submit" value="Submit" />
          </form>
        </div>
      </div>
    </div>
    <div class="product-related">
      <h2 class="text-center">My Product</h2>
      <div class="card-group">
        <div class="card">
          <img src="../../img/product img.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Porumb</h5>
            <p class="card-text">50 000 seminte</p>
            <b class="card-text">Lei <span>2040</span></b>
            <div class="hover-content">
              <!-- Elementul suplimentar pentru hover -->
              <button class="add-to-cart">Add to cart</button>
              <div class="element-product">
                <div class="function">
                  <img src="../../img/gridicons_share.svg" alt="" />
                  <p>Share</p>
                </div>
                <div class="function">
                  <img src="../../img/Group.svg" alt="" />
                  <p>Compare</p>
                </div>
                <div class="function">
                  <img src="../../img/Heart.svg" alt="" />
                  <p>Like</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <img src="../../img/product img.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Porumb</h5>
            <p class="card-text">50 000 seminte</p>
            <b class="card-text">Lei <span>2040</span></b>
            <div class="hover-content">
              <!-- Elementul suplimentar pentru hover -->
              <button class="add-to-cart">Add to cart</button>
              <div class="element-product">
                <div class="function">
                  <img src="../../img/gridicons_share.svg" alt="" />
                  <p>Share</p>
                </div>
                <div class="function">
                  <img src="../../img/Group.svg" alt="" />
                  <p>Compare</p>
                </div>
                <div class="function">
                  <img src="../../img/Heart.svg" alt="" />
                  <p>Like</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <img src="../../img/product img.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Porumb</h5>
            <p class="card-text">50 000 seminte</p>
            <b class="card-text">Lei <span>2040</span></b>
            <div class="hover-content">
              <!-- Elementul suplimentar pentru hover -->
              <button class="add-to-cart">Add to cart</button>
              <div class="element-product">
                <div class="function">
                  <img src="../../img/gridicons_share.svg" alt="" />
                  <p>Share</p>
                </div>
                <div class="function">
                  <img src="../../img/Group.svg" alt="" />
                  <p>Compare</p>
                </div>
                <div class="function">
                  <img src="../../img/Heart.svg" alt="" />
                  <p>Like</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <img src="../../img/product img.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Porumb</h5>
            <p class="card-text">50 000 seminte</p>
            <b class="card-text">Lei <span>2040</span></b>
            <div class="hover-content">
              <!-- Elementul suplimentar pentru hover -->
              <button class="add-to-cart">Add to cart</button>
              <div class="element-product">
                <div class="function">
                  <img src="../../img/gridicons_share.svg" alt="" />
                  <p>Share</p>
                </div>
                <div class="function">
                  <img src="../../img/Group.svg" alt="" />
                  <p>Compare</p>
                </div>
                <div class="function">
                  <img src="../../img/Heart.svg" alt="" />
                  <p>Like</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button class="button-shoe-more">Show More</button>
    </div>
  </div>
</section>
