<section class="elements">
  <div class="breadcrumb-bar">
    <div class="container">
      <div class="breadcrumb">
        <a href="#">Acasă</a>
        <span class="separator">></span>
        <a href="#">Categorii</a>
        <span class="separator">></span>
        <a href="#">Produse</a>
        <span class="separator">></span>
        <span>Detalii produs</span>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="product-information">
      <div class="product-information__img">
        <div class="set-image">
          <img src="../../img/akar-icons_heart.png" alt="" />
          <img src="../../img/product img.png" alt="" />
          <img src="../../img/product img.png" alt="" />
        </div>
        <img class="principal-image" src="../../img/product img.png" alt="" />
      </div>
      <div class="product-information__documentation">
        <h2>Celesta F1 (250 grame)</h2>
        <h3>Lei <span>255,00</span></h3>
        <div class="rating-stars">
          <div class="rating" data-rating="1">&#9733;</div>
          <div class="rating" data-rating="2">&#9733;</div>
          <div class="rating" data-rating="3">&#9733;</div>
          <div class="rating" data-rating="4">&#9733;</div>
          <div class="rating" data-rating="5">&#9733;</div>
          <p>Your rating: <span id="selectedRating"></span></p>
        </div>
        <p>
          Celesta F1 este unul dintre cele mai bune soiuri pentru producție
          ultra timpurie. Cultura poate fi recoltată la 25-28 de zile după
          însămânțarea semințelor. Acest tip de ridiche este cultivat din prima
          decadă a lunii martie pînă la mijlocul lunii noiembrie. Randamentul
          mediu pe metru pătrat este de 3,3-3,5 kg. Hibridul este destinat atît
          cultivării în seră, cît și în cîmp deschis. Crește bine pe soluri
          libere, ușoare și neacide. Planta este rezistentă la germinare și
          înflorire. Formează rădăcini roșii, rotungite, uniforme, cu o
          suprafață netedă, cîntărind 28-30 g. Nu este susceptibil la
          peronosporoză și bacterioză. Ridichile sunt semănate la începutul
          lunii aprilie, dar pentru apariția răsadurilor este necesară o
          temperatură a aerului de cel puțin 18 grade C, prin urmare, în prima
          perioadă, este necesar să acoperiți ridichile cu peliculă.
        </p>
        <a href="">
          <div class="company-link">
            <img src="../../img/logo-interp.png" alt="" />
            <p>AgroPlant Buisnes</p>
          </div>
        </a>
        <div class="select-product">
          <div class="quantity-selector">
            <button class="decrement">-</button>
            <span class="quantity">1</span>
            <button class="increment">+</button>
          </div>

          <button>Add To Cart</button>
          <button>+ Compare</button>
        </div>
        <div class="short-info">
          <div class="short-info__category">
            <p class="element">SKU</p>
            <span>:</span>
            <p>SS001</p>
          </div>
          <div class="short-info__category">
            <p class="element">Category</p>
            <span>:</span>
            <p>Legume</p>
          </div>
          <div class="short-info__category">
            <p class="element">Tags</p>
            <span>:</span>
            <p>Legume, Naturale</p>
          </div>
          <div class="short-info__category">
            <p class="element">Share</p>
            <span>:</span>
            <ul class="media-contact">
              <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="description-element">
      <div class="rating-buttons">
        <button class="rating-button" id="descriptionButton">
          Vegetable Description
        </button>
        <button class="rating-button" id="additionalInfoButton">
          Additional Information
        </button>
        <button class="rating-button" id="reviewsButton">
          Reviews <span id="reviewCount">[5]</span>
        </button>
      </div>
      <div class="rating-content">
        <div id="descriptionContent" class="hidden">
          <p>
            Description of the vegetable: Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Nullam auctor massa ac arcu eleifend,
            vel cursus enim efficitur.
          </p>
          <div class="images">
            <img src="https://via.placeholder.com/300" alt="Image 1" />
            <img src="https://via.placeholder.com/300" alt="Image 2" />
          </div>
        </div>
        <div id="additionalInfoContent" class="hidden">
          <h3>Additional Information</h3>
          <div class="info-container">
            <div class="info-section">
              <h4>Origin</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                id justo eu lectus tristique molestie.
              </p>
            </div>
            <div class="info-section">
              <h4>Nutritional Information</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                id justo eu lectus tristique molestie.
              </p>
            </div>
            <div class="info-section">
              <h4>Preparation</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                id justo eu lectus tristique molestie.
              </p>
            </div>
            <div class="info-section">
              <h4>Storage</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                id justo eu lectus tristique molestie.
              </p>
            </div>
            <div class="info-section">
              <h4>Benefits</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                id justo eu lectus tristique molestie.
              </p>
            </div>
            <div class="info-section">
              <h4>Usage</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                id justo eu lectus tristique molestie.
              </p>
            </div>
          </div>
        </div>
        <div id="reviewsContent" class="hidden">
          <div class="review">
            <p><strong>Customer Name</strong> - Date: January 1, 2024</p>
            <p>
              Customer review: Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Nullam auctor massa ac arcu eleifend, vel cursus
              enim efficitur.
            </p>
          </div>
          <div class="review">
            <p><strong>Customer Name 2</strong> - Date: January 2, 2024</p>
            <p>
              Customer review: Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Nullam auctor massa ac arcu eleifend, vel cursus
              enim efficitur.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="agro-map">
      <h2>Product On The Map</h2>
      <div id="map" style="height: 400px"></div>
    </div>
    <div class="product-related">
      <h2 class="text-center">Our Products</h2>
      <div class="card-group">
        <div class="card">
          <img src="../../img/product img.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Porumb</h5>
            <p class="card-text">50 000 seminte</p>
            <b class="card-text">Lei <span>2040</span></b>
            <div class="hover-content">
              <!-- Elementul suplimentar pentru hover -->
              <button class="add-to-cart">Add to cart</button>
              <div class="element-product">
                <div class="function">
                  <img src="../../img/gridicons_share.svg" alt="" />
                  <p>Share</p>
                </div>
                <div class="function">
                  <img src="../../img/Group.svg" alt="" />
                  <p>Compare</p>
                </div>
                <div class="function">
                  <img src="../../img/Heart.svg" alt="" />
                  <p>Like</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <img src="../../img/product img.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Porumb</h5>
            <p class="card-text">50 000 seminte</p>
            <b class="card-text">Lei <span>2040</span></b>
            <div class="hover-content">
              <!-- Elementul suplimentar pentru hover -->
              <button class="add-to-cart">Add to cart</button>
              <div class="element-product">
                <div class="function">
                  <img src="../../img/gridicons_share.svg" alt="" />
                  <p>Share</p>
                </div>
                <div class="function">
                  <img src="../../img/Group.svg" alt="" />
                  <p>Compare</p>
                </div>
                <div class="function">
                  <img src="../../img/Heart.svg" alt="" />
                  <p>Like</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <img src="../../img/product img.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Porumb</h5>
            <p class="card-text">50 000 seminte</p>
            <b class="card-text">Lei <span>2040</span></b>
            <div class="hover-content">
              <!-- Elementul suplimentar pentru hover -->
              <button class="add-to-cart">Add to cart</button>
              <div class="element-product">
                <div class="function">
                  <img src="../../img/gridicons_share.svg" alt="" />
                  <p>Share</p>
                </div>
                <div class="function">
                  <img src="../../img/Group.svg" alt="" />
                  <p>Compare</p>
                </div>
                <div class="function">
                  <img src="../../img/Heart.svg" alt="" />
                  <p>Like</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <img src="../../img/product img.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Porumb</h5>
            <p class="card-text">50 000 seminte</p>
            <b class="card-text">Lei <span>2040</span></b>
            <div class="hover-content">
              <!-- Elementul suplimentar pentru hover -->
              <button class="add-to-cart">Add to cart</button>
              <div class="element-product">
                <div class="function">
                  <img src="../../img/gridicons_share.svg" alt="" />
                  <p>Share</p>
                </div>
                <div class="function">
                  <img src="../../img/Group.svg" alt="" />
                  <p>Compare</p>
                </div>
                <div class="function">
                  <img src="../../img/Heart.svg" alt="" />
                  <p>Like</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button class="button-shoe-more">Show More</button>
    </div>
  </div>
</section>
