<!-- Main Footer start -->
<footer>
  <div class="container">
    <div class="footer-section">
      <div class="company">
        <img src="../../img/Company-logo.png" alt="" />
        <p>
          400 University Drive Suite 200 Coral <br />
          Gables,<br />
          FL 33134 USA
        </p>
      </div>
      <div class="footer-links">
        <p class="text">Links</p>
        <a href="" title="Home">Home</a>
        <a href="" title="Shop">Shop</a>
        <a href="" title="About">About</a>
        <a href="" title="Contact">Contact</a>
      </div>
      <div class="footer-links">
        <p class="text">Help</p>
        <a href="" title="Home">Payment Options</a>
        <a href="" title="Shop">Returns</a>
        <a href="" title="About">Privacy Policies</a>
        <a href="" title="Contact">Contact</a>
      </div>
      <div class="footer-links">
        <p class="text">Newsletter</p>
        <div class="input-group">
          <input type="email" placeholder="Enter Your Email Address" class="email-input">
          <button class="subscribe-btn">SUBSCRIBE</button>
        </div>
        <div class="connect">
          <h5>Connect with Us</h5>
          <ul class="media-contact">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Main Footer end -->
