<header class="header-section">
  <div class="container">
    <section class="navigation">
      <div class="brand">
        <a href="index.html" aria-current="page" class="w-nav-brand w--current">
          <img src="../../img//Company-logo.png" alt="" class="logo" />
        </a>
      </div>
      <div class="header-top-bar">
        <ul class="nav-list">
          <li><a href="#!">Home</a></li>
          <li><a href="#!">Shop</a></li>
          <li><a href="#!">About</a></li>
          <li><a href="#!">Contact</a></li>
        </ul>
        <div class="functional-element">
          <button>
            <img
              src="../../img//mdi_account-alert-outline.png"
              alt=""
              class="account-icon"
            />
          </button>
          <button class="search-buton">
            <img
              class="search-icon"
              src="../../img//akar-icons_search.png"
              alt=""
            />
          </button>
          <button class="heart-button">
            <img
              src="../../img//akar-icons_heart.png"
              alt=""
              class="heart-icon"
            />
          </button>
          <button class="cart-button">
            <img
              src="../../img//ant-design_shopping-cart-outlined.png"
              alt=""
              class="cart-icon"
            />
          </button>
        </div>
      </div>
      <div class="burger-menu">
        <div class="burger-icon">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </section>
    <div class="search-element hidden">
      <!-- Adaugăm clasa hidden pentru a ascunde elementul -->
      <div class="search-element__input">
        <input type="text" class="search-input" placeholder="Type here..." />
        <button class="button-search">Search</button>
      </div>
    </div>
    <div class="overlay"></div>

    <div class="popup" id="heartPopup">
      <button class="close-button">&times;</button>
      <p>Content for Heart Popup</p>
    </div>

    <div class="popup" id="cartPopup">
      <button class="close-button">&times;</button>
      <p>Content for Cart Popup</p>
    </div>
  </div>
</header>
