<section class="page-wrapper">
  <div class="header-banner">
    <div class="jumbotron jumbotron-fluid bg-dark text-white">
      <div class="container">
        <div class="square">
          <p class="text-uppercase">New Arrival</p>
          <h1>Discover Our New Collection</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
            tellus, luctus nec ullamcorper mattis.
          </p>
          <button class="btn btn-primar">BUY NOW</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="container mt-5">
      <h2 class="text-center">Browse The Range</h2>
      <p class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
      <div class="category-shop">
        <div class="category-shop__element">
          <a href="">
            <img
              src="../../img//Mask Group.png"
              alt="Image 1"
              class="img-fluid"
            />
          </a>
          <p class="text-center mt-2">Plants</p>
        </div>
        <div class="category-shop__element">
          <a href="">
            <img
              src="../../img//Image-living room.png"
              alt="Image 2"
              class="img-fluid"
            />
          </a>
          <p class="text-center mt-2">Technics & Substances</p>
        </div>
      </div>
    </div>

    <h2 class="text-center">Our Products</h2>
    <div class="card-group">
      <div class="card">
        <img src="../../img/product img.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Porumb</h5>
          <p class="card-text">50 000 seminte</p>
          <b class="card-text">Lei <span>2040</span></b>
          <div class="hover-content">
            <!-- Elementul suplimentar pentru hover -->
            <button class="add-to-cart">Add to cart</button>
            <div class="element-product">
              <div class="function">
                <img src="../../img/gridicons_share.svg" alt="" />
                <p>Share</p>
              </div>
              <div class="function">
                <img src="../../img/Group.svg" alt="" />
                <p>Compare</p>
              </div>
              <div class="function">
                <img src="../../img/Heart.svg" alt="" />
                <p>Like</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="../../img/product img.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Porumb</h5>
          <p class="card-text">50 000 seminte</p>
          <b class="card-text">Lei <span>2040</span></b>
          <div class="hover-content">
            <!-- Elementul suplimentar pentru hover -->
            <button class="add-to-cart">Add to cart</button>
            <div class="element-product">
              <div class="function">
                <img src="../../img/gridicons_share.svg" alt="" />
                <p>Share</p>
              </div>
              <div class="function">
                <img src="../../img/Group.svg" alt="" />
                <p>Compare</p>
              </div>
              <div class="function">
                <img src="../../img/Heart.svg" alt="" />
                <p>Like</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="../../img/product img.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Porumb</h5>
          <p class="card-text">50 000 seminte</p>
          <b class="card-text">Lei <span>2040</span></b>
          <div class="hover-content">
            <!-- Elementul suplimentar pentru hover -->
            <button class="add-to-cart">Add to cart</button>
            <div class="element-product">
              <div class="function">
                <img src="../../img/gridicons_share.svg" alt="" />
                <p>Share</p>
              </div>
              <div class="function">
                <img src="../../img/Group.svg" alt="" />
                <p>Compare</p>
              </div>
              <div class="function">
                <img src="../../img/Heart.svg" alt="" />
                <p>Like</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button class="button-shoe-more">Show More</button>
  </div>
  <div class="container-fluid">
    <p>Share your setup with</p>
    <h2>#AgroForever</h2>
    <div class="row" style="height: 721px">
      <div class="" style="height: 100%">
        <img
          src="../../img//Images-agro.png"
          alt="Image 1"
          class="img-fluid h-100"
        />
      </div>
    </div>
  </div>
</section>
