<section class="like-product">
  <div class="breadcrumb-container">
    <div class="banner-principal">
      <img
        src="../../img/Checkout-img.png"
        alt="Imagine"
        class="background-image"
      />
      <div class="principal-text">
        <h1>Favorite Produs</h1>
      </div>
      <div class="breadcrumb">
        <a href="#">Acasă</a>
        <span class="separator">></span>
        <span>Favorite Produs</span>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="card-group">
      <div class="card">
        <img src="../../img/product img.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Porumb</h5>
          <div class="change-element">
            <a class="card-text">Add Card</a>
            <button class="delite-text">Compare</button>
          </div>
        </div>
        <div class="like-post">
          <img src="../../img/heart-logo-svgrepo-com.svg" alt="" />
          <!-- <img src="../../img/heart.png" alt="">   atunci cannd o sa scoti like -->
        </div>
      </div>
      <div class="card">
        <img src="../../img/product img.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Porumb</h5>
          <div class="change-element">
            <a class="card-text">Add Card</a>
            <button class="delite-text">Compare</button>
          </div>
        </div>
        <div class="like-post">
          <img src="../../img/heart-logo-svgrepo-com.svg" alt="" />
          <!-- <img src="../../img/heart.png" alt="">   atunci cannd o sa scoti like -->
        </div>
      </div>
      <div class="card">
        <img src="../../img/product img.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Porumb</h5>
          <div class="change-element">
            <a class="card-text">Add Card</a>
            <button class="delite-text">Compare</button>
          </div>
        </div>
        <div class="like-post">
          <img src="../../img/heart-logo-svgrepo-com.svg" alt="" />
          <!-- <img src="../../img/heart.png" alt="">   atunci cannd o sa scoti like -->
        </div>
      </div>
      <div class="card">
        <img src="../../img/product img.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Porumb</h5>
          <div class="change-element">
            <a class="card-text">Add Card</a>
            <button class="delite-text">Compare</button>
          </div>
        </div>
        <div class="like-post">
          <img src="../../img/heart-logo-svgrepo-com.svg" alt="" />
          <!-- <img src="../../img/heart.png" alt="">   atunci cannd o sa scoti like -->
        </div>
      </div>
    </div>
  </div>
  <div id="compare-modal" style="display:none;">
    <div class="modal-content">
      <span class="close">&times;</span>
      <div class="comparison-container">
        <div class="product-comparison left"></div>
        <div class="separator"></div>
        <div class="product-comparison right"></div>
      </div>
    </div>
  </div>
  
</section>
