<section class="contact">
  <div class="container">
    <div class="hreader-contact">
      <h1>Contact Us</h1>
      <p>
        Need assistance or have questions regarding asbestos-related illness?
        Contact us today for specialized information and guidance. We are here
        to provide support and help you navigate through this challenging
        journey.
      </p>
    </div>
    <div class="contact-company">
      <div class="contact-company__information">
        <div class="contact-icon"><i class="fas fa-map-marker-alt"></i></div>
        <p>2118 Thornridge Cir. Syracuse, California 208434</p>
      </div>
      <div class="contact-company__information">
        <div class="contact-icon"><i class="fas fa-phone-alt"></i></div>
        <p>+088 (246) 642-27-10</p>
        <p>+088 (246) 642-27-10</p>
      </div>
      <div class="contact-company__information">
        <div class="contact-icon"><i class="fas fa-envelope"></i></div>
        <p>AgroFarm@gmail.com</p>
      </div>
    </div>
    <div class="custom-section">
        <div class="custom-section__image">
          <img src="../../img/Map.png" alt="Image">
        </div>
        <div class="custom-section__content">
          <input type="text" class="custom-section__input" placeholder="Enter your name">
          <input type="email" class="custom-section__input" placeholder="Enter your email address">
          <textarea class="custom-section__textarea" placeholder="Write your message"></textarea>
          <button class="button">Send Message</button>
        </div>
      </div>
      
  </div>
</section>
