<section class="payment">
  <div class="container">
    <h1>Payment Information</h1>
    <div class="payment-container">
      <div class="card">
        <div class="card-chip"></div>
        <div class="card-logo">DISC<span class="orange">O</span>VER</div>
        <div class="card-number">6011 0009 9013 9424</div>
        <div class="card-name">ADRIAN CONEA</div>
        <div class="card-expiry">12/21</div>
      </div>
      <div class="form">
        <label
          >Name
          <input type="text" id="name" value="Adrian Conea" />
        </label>
        <label
          >Card Number
          <input type="text" id="card-number" value="6011 0009 9013 9424" />
        </label>
        <div class="secret">
          <label
            >Expiration (mm/yy)
            <input type="text" id="expiry" value="12/21" />
          </label>
          <label
            >Security Code
            <input type="text" id="security-code" value="213" />
          </label>
        </div>
        <button id="generate-random">Generate Random</button>
      </div>
      
    </div>
    <div class="payment-succes">
      <img src="../../img/check.png" alt="">
      <h3>Plata a fost efectuata cu succes!!!</h3>
      <p>
        Asteapta un apel sau mesaj de la un reprezentant de la noi din
        compania AgroFarm
      </p>
    </div>
  </div>
</section>
