<section class="breadcrumb-container">
  <div class="banner-principal">
    <img
      src="../../img/baner-product.png"
      alt="Imagine"
      class="background-image"
    />
    <div class="principal-text">
      <h1>Shop</h1>
    </div>
    <div class="breadcrumb">
      <a href="#">Acasă</a>
      <span class="separator">></span>
      <a href="#">Categorii</a>
      <span class="separator">></span>
      <a href="#">Produse</a>
      <span class="separator">></span>
      <span>Detalii produs</span>
    </div>
  </div>

  <div class="banner">
    <div class="left-content">
      <div class="filtre-section">
        <div class="filtre-section__selector">
          <img src="../../img/system-uicons_filtering.png" alt="" />
          <p>Filtre</p>
        </div>
        <img src="../../img/selector.png" alt="" />
        <img src="../../img/Vector.png" alt="" />
      </div>
      <span></span>
      <div class="page-sesult">
        <p>Showing 1–16 of 32 results</p>
      </div>
    </div>
    <div class="right-content">
      <div class="select-element">
        <span>Show</span>
        <div class="number-square">16</div>
      </div>
      <div class="select-element">
        <span>Short by</span>
        <div class="number-square">Default</div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card-group">
      <div class="card">
        <img src="../../img/product img.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Porumb</h5>
          <p class="card-text">50 000 seminte</p>
          <b class="card-text">Lei <span>2040</span></b>
          <div class="hover-content">
            <!-- Elementul suplimentar pentru hover -->
            <button class="add-to-cart">Add to cart</button>
            <div class="element-product">
              <div class="function">
                <img src="../../img/gridicons_share.svg" alt="" />
                <p>Share</p>
              </div>
              <div class="function">
                <img src="../../img/Group.svg" alt="" />
                <p>Compare</p>
              </div>
              <div class="function">
                <img src="../../img/Heart.svg" alt="" />
                <p>Like</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="../../img/product img.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Porumb</h5>
          <p class="card-text">50 000 seminte</p>
          <b class="card-text">Lei <span>2040</span></b>
          <div class="hover-content">
            <!-- Elementul suplimentar pentru hover -->
            <button class="add-to-cart">Add to cart</button>
            <div class="element-product">
              <div class="function">
                <img src="../../img/gridicons_share.svg" alt="" />
                <p>Share</p>
              </div>
              <div class="function">
                <img src="../../img/Group.svg" alt="" />
                <p>Compare</p>
              </div>
              <div class="function">
                <img src="../../img/Heart.svg" alt="" />
                <p>Like</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="../../img/product img.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Porumb</h5>
          <p class="card-text">50 000 seminte</p>
          <b class="card-text">Lei <span>2040</span></b>
          <div class="hover-content">
            <!-- Elementul suplimentar pentru hover -->
            <button class="add-to-cart">Add to cart</button>
            <div class="element-product">
              <div class="function">
                <img src="../../img/gridicons_share.svg" alt="" />
                <p>Share</p>
              </div>
              <div class="function">
                <img src="../../img/Group.svg" alt="" />
                <p>Compare</p>
              </div>
              <div class="function">
                <img src="../../img/Heart.svg" alt="" />
                <p>Like</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="../../img/product img.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Porumb</h5>
          <p class="card-text">50 000 seminte</p>
          <b class="card-text">Lei <span>2040</span></b>
          <div class="hover-content">
            <!-- Elementul suplimentar pentru hover -->
            <button class="add-to-cart">Add to cart</button>
            <div class="element-product">
              <div class="function">
                <img src="../../img/gridicons_share.svg" alt="" />
                <p>Share</p>
              </div>
              <div class="function">
                <img src="../../img/Group.svg" alt="" />
                <p>Compare</p>
              </div>
              <div class="function">
                <img src="../../img/Heart.svg" alt="" />
                <p>Like</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="../../img/product img.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Porumb</h5>
          <p class="card-text">50 000 seminte</p>
          <b class="card-text">Lei <span>2040</span></b>
          <div class="hover-content">
            <!-- Elementul suplimentar pentru hover -->
            <button class="add-to-cart">Add to cart</button>
            <div class="element-product">
              <div class="function">
                <img src="../../img/gridicons_share.svg" alt="" />
                <p>Share</p>
              </div>
              <div class="function">
                <img src="../../img/Group.svg" alt="" />
                <p>Compare</p>
              </div>
              <div class="function">
                <img src="../../img/Heart.svg" alt="" />
                <p>Like</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="../../img/product img.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Porumb</h5>
          <p class="card-text">50 000 seminte</p>
          <b class="card-text">Lei <span>2040</span></b>
          <div class="hover-content">
            <!-- Elementul suplimentar pentru hover -->
            <button class="add-to-cart">Add to cart</button>
            <div class="element-product">
              <div class="function">
                <img src="../../img/gridicons_share.svg" alt="" />
                <p>Share</p>
              </div>
              <div class="function">
                <img src="../../img/Group.svg" alt="" />
                <p>Compare</p>
              </div>
              <div class="function">
                <img src="../../img/Heart.svg" alt="" />
                <p>Like</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pagination">
    <button class="page-button active">1</button>
    <button class="page-button">2</button>
    <button class="page-button">3</button>
    <button class="next-button">Next</button>
  </div>
</section>
