/*------------------------------------------------------------------
  Media Queries
  ------------------------------------------------------------------*/
@mixin respondto($device) {
  @if $device == desktop {
    @media #{$desktop} {
      @content;
    }
  }
  @if $device == desktopSmall {
    @media #{$desktopSmall} {
      @content;
    }
  }
  @if $device == desktopMd {
    @media #{$desktopMd} {
      @content;
    }
  }
  @if $device == desktopSm {
    @media #{$desktopSm} {
      @content;
    }
  }
  @if $device == onlyDesktop {
    @media #{$onlyDesktop} {
      @content;
    }
  }
  @if $device == largeDesktop {
    @media #{$largeDesktop} {
      @content;
    }
  }
  @if $device == maxTablet {
    @media #{$maxTablet} {
      @content;
    }
  }
  @if $device == tablet {
    @media #{$tablet} {
      @content;
    }
  }
  @if $device == not-phone {
    @media #{$not-phone} {
      @content;
    }
  }
  @if $device == phoneSm {
    @media #{$phoneSm} {
      @content;
    }
  }

  @if $device == phone {
    @media #{$phone} {
      @content;
    }
  }
}

//Media Queries
$largeDesktop: "(min-width: 1301px)";
$desktopMd: "(max-width: 1300px)";
$desktop: "(min-width: 1200px)";
$desktopSmall: "(max-width: 1199px)";
$desktopSm: "(min-width: 992px) and (max-width: 1199px)";
$onlyDesktop: "(min-width: 992px)";

$maxTablet: "(max-width: 991px)";
$tablet: "(min-width: 768px) and (max-width: 991px)";

$not-phone: "(min-width: 768px)";
$phone: "(max-width: 767px)";
$phoneSm: "(max-width: 440px)";
