$white: #fff;
$gray: #F4F4F4;
$gray-light: #D5D5D5;
$gray-light-second: #E0E0E0;
$gray-light-third: #E8E8E8;
$black: #474747;
$black-dark: #000000;
$black-second: #302F2F;
$black-third: #343131;
$black-fourth: #303030;
$dusk: #485778;
$main-red: #FF4043;
$bluish: #15528E;
$main-color: #264470;
$orange: #FE5E14;
// General Variables
$base-index: 100;
$navbar-index: ($base-index * 1.5);





